.landing{
  height: 100vh;
  overflow: hidden;
}
.nav-bar{
  width: 100%;
  background-color: black;
}
.nav-bar ul{
  text-decoration: none;
}
.nav-item{
  text-decoration: none;
  display: inline-block;
}
.nav-link{
  text-decoration: none;
  display: inline-block;
  background-color: #FC0056;
  color: white;
  margin: 0px 50px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Montserrat;
}
.active{
  color:#FC0056;
  background: #FFD800;
  transition : 0.3s ease-out;
}
.dashboard-brand{
  background-color: #FC0056;
  text-transform: uppercase;
  font-size: 60px;
  color: white;
  letter-spacing: 0.09em;
}
.realform{
margin-left: 50px;
font-family: Montserrat;
}
.realform label{
  font-weight: bold;
}
.form input{
  border: none;
  background-color: #f0f0f0;
  display: block;
  width: 350px;
  padding: 5px 10px;
}
.form select{
  border:none;
  background-color: #f0f0f0;
  display: block;
  padding: 5px 10px;
  width: 350px;
}
.address{
  height: 150px;
}
.btn-save{
background-color: #FC0056;
color: white;
margin-top: 80px;
margin-left: 110px;
}
.btn-save:hover{
  background-color: #F73859;
  transition: 0.3s ease-in;
}
.profile{
  margin-top: 30px;
}
.profile li{
  display: block;
  padding: 7px;
  font-family: Montserrat;
  font-size: 20px;
}
.userphoto{
  height: 300px;
  width: 220px;
  margin-right: 150px;
}
.signphoto{
  width: 220px;
  height: 80px;
  margin-right: 150px;
  margin-top: 20px;
}
